@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";

@layer utilities {
  .shadow-soft {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  }
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Inter", sans-serif;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}
.btn {
  @apply px-5 py-3 rounded-3xl bg-[#1A1953] cursor-pointer text-white hover:bg-blue-300 hover:text-black;
}

