@import "tailwindcss";

body {
  @apply bg-white text-black;
}

body.dark {
  @apply bg-[#2C2C2C] text-white;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}
.btn {
  @apply px-5 py-3 font-bold rounded-3xl bg-[#1A1953] cursor-pointer text-white hover:bg-blue-300 hover:text-black;
}
